<div class="chat-header">
  <div class="room-name">
    <%= current_room.name %>
  </div>
  <%# <%= link_to "チャットを終了する", "#", class: "finish-chat-btn" %>
  <%= link_to "チャットを終了する", room_path(current_room), data: { turbo_method: :delete }, class: "finish-chat-btn"  %>
</div>
<div class="chat-main">  
  <%= render partial: 'message', collection: @messages %>
</div>
<div class="chat-form">
  <%= form_with model: [current_room, message], html: {class: "form"}, local: true do |f|%>
    <div class="input-form">
      <%= f.text_field :content, class: 'input-message', placeholder: 'type a message' %>
      <label class="form-image">
        <span class="image-file">画像</span>
        <%= f.file_field :image, class: 'hidden' %>
      </label>
    </div>
    <%= f.submit '送信', class: 'submit-btn' %>
  <% end %>

</div>